<html>
    <head>
        <title>Site Title</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
        <link href="/static/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <nav>
        <a href="{{ url_for('index') }}"><i class="fa fa-home"></i>Home</a>
        <a href="{{ url_for('about') }}"><i class="fa fa-question"></i>About</a>
        <a href="{{ url_for('contact') }}"><i class="fa fa-phone"></i>Contact</a>
        <a href="{{ url_for('dogs') }}"><i class="fa fa-paw"></i>Dogs</a>
    </nav>
    <h1>BASE HTML</h1>
     {% block content %}{% endblock %}
    </body>
</html>