body {
  display: grid;
  grid-template-columns: 30% repeat(1, [col-start] 1fr [col-end]);
}

aside{
  position: fixed;
    width: 20vw;
}

.label{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
 }

main{
  display: grid;
  grid-column-start: 2;
  grid-template-rows:  repeat(3, 200px)
  grid-gap: 1em;
 }

img{
    height: 500px;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
}
