body {
  display: grid;
  grid-template-columns: 30% repeat(1, [col-start] 1fr [col-end]);
}

aside{
  position: fixed;
  top: 40%;
  width: 20vw;
  margin-left: 30px;
}

.label {
  display: flex;
  font-size: 1.5em;
  text-align: center;
 }

 p {
   text-align: center;
 }

main{
  display: grid;
  grid-column-start: 2;
  grid-template-rows:  repeat(3, 200px)
  grid-gap: 1em;
 }

img{
    height: 600px;
    margin: 10px;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
}
